* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*::before,
*::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;

}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

html {
   scroll-behavior: smooth;
}

body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   background: #E5E5E5;
}

.wrapper {
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.anim-show {
   transform: (0px, 120%);
   opacity: 0;
   transition: all 0.2 ease 0s;
}

.anim-show._active,
._active.anim-show {
   opacity: 1;
   transform: (0px, 0px);
}

.page {
   flex: 1 1 auto;
}

/* __________________________________________________________________________________ */
._container {
   max-width: 1300px;
   margin: 0px auto;
   box-sizing: content-box;
}

._ibg {
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;
}

/* _____________________________Header____________________________________________ */

.header {
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}

.header:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.header__container {}

.header__body {
   position: relative;
   display: flex;
   justify-content: space-between;
   height: 80px;
   align-items: center;
   background-color: transparent;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, .2)
}

.logo__link {
   flex: 0 0 90px;
   margin: 0px 0px 0px 30px;
   overflow: hidden;
   position: relative;
   z-index: 3;
}

.logo__image {
   max-width: 100%;
   border-radius: 50%;
   margin: 0px 20px 0px 0px;

}

.header__menu {
   margin: 0px 0px 0px 10px;

}

.header__list {
   display: flex;
   position: relative;
   z-index: 2;
}

.header__list li {
   list-style: none;
   margin: 0px 30px 0px 0px;
}


.header__link {
   letter-spacing: 0.7px;
   align-self: center;
   line-height: calc(21/18*100%);
   font-weight: 400;
   color: #E5E5E5;

}

.header__burger {
   display: none;
}

.submenu {
   display: none;
   width: 200px;
   padding: 40px 10px 0px 5px;
   position: absolute;
   left: 0;
   top: 20;
   background: transparent;
}

.submenu li {
   cursor: pointer;
   padding: 10px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
   margin: 0px 0px 20px 10px;
}

.sub-menu__link {
   display: block;
   color: #FFFFFF;
}

.submenu li:hover {
   background-color: #29648A;
}


.column-right {
   display: flex;
   justify-content: flex-end;
   margin: 0px 20px 0px 0px;
}

.nav-address-wrap {
   display: flex;
   flex-direction: row;
   align-self: center;
   justify-content: flex-end;
   margin: 0px 10px;
}

.contact a {
   color: #E5E5E5;
   margin: 0px 10px;
}

.arrow {
   display: inline-block;
   right: 0;
   bottom: 0;
   width: 0;
   height: 0;
   border-top: 5px solid #fff;
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
}

.menu__arrow {}

body.mouse .header__list>li:hover .submenu {
   display: block;
}

body.touch .submenu.open {
   display: block;
}

.arrow.arrActive {
   transform: rotate(-180deg);
}

.calltouch-phone {}

.phone {}

.item a {
   color: #E5E5E5;
}

@media(max-width:421px) {
   .nav-address-wrap {
      flex-wrap: wrap;
      justify-content: flex-start;
   }

   .item a {
      font-size: 11px;
   }

   .contact a {
      margin: 0px 5px;
      font-size: 11px;
   }
}

@media(max-width:1152px) {
   .header__list>li {
      margin: 0px 10px 0px 0px;
   }
}

@media(max-width:1035px) {
   .header__list>li:nth-child(4) {
      display: none;
   }
}

@media(max-width:952px) {
   .header__list :nth-child(6) {
      display: none;
   }
}

@media(max-width:823px) {
   .arrow {
      display: none;
   }

   .header__list :nth-child(6),
   .header__list :nth-child(4) {
      display: block;
   }

   body.lock {
      overflow: hidden;
   }

   .header__body {
      height: 60px;
   }

   .logo__link {
      flex: 0 0 70px;
   }

   .header__burger {
      display: block;
      position: absolute;
      right: 0;
      width: 30px;
      height: 20px;
      z-index: 3;
      margin: 0px 20px 0px 0px;
   }

   .header__burger span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }

   .header__burger:before,
   .header__burger:after {
      content: '';
      background-color: #FFFFFF;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }

   .header__burger:before {
      top: 0;
   }

   .header__burger:after {
      bottom: 0;
   }

   .header__burger.active span {
      transform: scale(0);
   }

   .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
   }

   .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .header__menu {
      position: fixed;
      top: 0;
      right: -120%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #25274D;
      padding: 70px 0px 0px 0px;
      transition: all 0.3s ease 0s;
   }

   .header__menu.active {
      right: 0px;
      margin: 0px 0px 0px 0px;
   }

   .header__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

   }

   .header__list li {
      border-bottom: 1px solid #fff;
      margin: 0px 0px 60px 0px;
   }

   .logo__link {
      margin: 0px 0px 0px 10px;
   }

   .header__link {
      font-size: 24px;
   }

   .column-right {
      margin: 0px 60px 0px 0px;
   }
}

/* ______________________Main block __________________________________________ */
.main-block {
   min-height: 100vh;
   position: relative;
}

.main-block__body {
   padding: 350px 0px 127px 0px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-self: center;
   align-items: center;
   z-index: 2;
   max-width: 100%;
}

.main-block__title {
   text-align: center;
   font-size: 45px;
   padding: 5px;
   border-radius: 5px;
   color: #fff;
   line-height: calc(80/58*100%);
   font-weight: 800;
   letter-spacing: 0.2px;
   margin: 0px 0px 77px 0px;
   background-color: rgba(0, 0, 0, 0.1);

}

@media(max-width:758px) {
   .main-block__body {
      padding: 100px 0px 127px 0px;
   }

   .main-block__title {
      font-size: 35px;
   }
}



.main-block__buttons {
   display: flex;
   margin: -10px 0;
}

.main-block__button {
   border-radius: 8px;
   min-height: 48px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: 150%;
   text-align: center;
   padding: 14px 50px;
   margin: 10px 0px;
   transition: all 0.2s ease 0s;
}

.main-block__button_white {
   border: 2px solid #fff;
   background-color: rgba(0, 0, 0, 0.3);
   color: #fff;
}

.main-block__button_white:hover {
   background: rgb(234, 224, 224);
   box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
   color: #25274D;
}

.main-block__image {
   overflow: hidden;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.main-block__image img {
   transform-origin: bottom-right;
   animation: grow 200000ms ease infinite;

}

@keyframes grow {
   0% {
      transform: scale(1);
   }

   100% {
      transform: scale(1.5);
   }
}


@media (max-width:700px) {
   .main-block__text {
      color: #ffffff;
      font-weight: 400;
   }
}

/* ________________________Company_______________________________ */
.page__whoweare {
   min-height: 100vh;
}

.whoweare {
   padding: 30px 0px 72px 0px;

}

.whoweare__container {}

.whoweare__header {
   margin: 0px 0px 40px 0px;

}

.header-block {}

.header-block__title {
   text-align: left;
   padding: 0px 20px;
   font-weight: 700;
   font-size: 30px;
   line-height: calc(35/30*100%);
   transform: translate(0px, 120%);
   opacity: 0;
   transition: all 0.3s ease 0s;
}

.header-block__title._active {
   transform: translate(0px, 0px);
   transition: all 0.3s ease 0.2s;
   opacity: 1;
}



.whoweare__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.whoweare__content {
   background-color: #29648A;
   margin: 0px 20px 40px 30px;
   border-radius: 10px;
}

.whoweare__items {
   position: relative;
   line-height: 152%;
   right: 15px;
   bottom: 15px;
   border-radius: 10px;
   padding: 10px;
   background-color: #AAABB8;
}

.whoweare__items>*:not(:last-child) {
   margin: 0px 0px 26px 0px;
}

.whoweare__text {
   padding: 0px 0px 0px 20%;
   font-weight: 300;
   text-align: left;
   font-size: 18px;
   line-height: calc(24/18*100%);
   color: #000000;
   font-style: italic;
}

.whoweare__image {
   background-color: #29648A;
   border-radius: 5px;
   margin: 0px 20px 0px 30px;

}

.whoweare__image img {
   display: block;
   max-width: 100%;
   border-radius: 5px;
   position: relative;
   right: 15px;
   bottom: 15px;
}

@media(max-width:758px) {
   .header-block__title {
      font-size: 20px;
   }

   .whoweare__text {
      padding: 0px 0px 0px 5%;
   }
}

@media(max-width:400px) {
   .whoweare__image img {
      right: 0px;
      bottom: 0px;
   }

   .whoweare__content {
      margin: 0px 20px 20px 30px;
   }

   .whoweare__image {
      margin: 0px 5px;
   }
}

/* ________________________________________________________________success______________________________________ */
.page__success {
   min-height: 100vh;
   margin: -475px 0px 0px 0px;
   padding: 460px 0px 20px 0px;
   background-color: #25274D;
}

.success {}

.successe__container {}

.success__header {
   margin: 0px 0px 30px 0px;

}

.success_title {
   font-size: 30px;
   font-weight: 700;
   color: #E5E5E5;
   margin: 0px 0px 0px 10px;
}


.success__body {
   color: #E5E5E5;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.success__items {
   margin: 0px 10px 0px 10px;
   transform: translate(0px, 120%);
   opacity: 0;
   transition: all 0.8s ease 0s;
}

.success__items._active {
   transform: translate(0px, 0px);
   transition: all 0.6s ease 0.2s;
   opacity: 1;
}

.success__title {
   margin: 0px 0px 20px 0px;
   font-size: 25px;
   font-weight: 700;
}

.success__text {
   line-height: 132%;
}

.success-block__buttons {
   margin: 50px 20px 10px 0px;
   display: flex;
   justify-content: flex-end;
}


.success__button {
   font-weight: 400;
   color: #E5E5E5;
   letter-spacing: 0.2px;
   text-decoration: none;
   display: table;
}

.success__button:after {
   transition: all .25s;
   opacity: 0;
   margin-left: -.5em;
   content: '>';
   display: inline-block;
}

.success__button:hover {
   color: #E5E5E5;
}

.success__button:hover:after {
   opacity: 1;
   margin-left: .4em;
}

@media(max-width:862px) {
   .success__body {
      flex-wrap: wrap;
   }

   .success__button {
      color: #E5E5E5;
      text-decoration: none;
      font: 500 19px arial;
      display: table;
   }

   .success__text {
      margin: 0px 0px 20px 0px;

   }
}

/* ____________________________________________works_________________________________________________ */
.works__body {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
   grid-gap: 1rem;
}

.works__items {
   display: flex;
   flex-direction: row;
   margin: 0px 10px 20px 10px;
}

.works__images {}

.works__content {
   margin: 40px 0px 0px 20px;

}

.works__title {
   margin: 0px 0px 20px 0px;
   font-size: 24px;
   font-weight: 700;
   color: #29648A;
}

.works__text {
   line-height: 132%;
}

.serv {
   color: #25274D;
}

.serv:hover {
   color: #25274D;
}

@media(max-width:760px) {
   .works__body {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

   }

   .works__items {
      flex-wrap: wrap;
   }

   .works__title {
      text-align: center;
   }

   .works__items:nth-child(even) {
      justify-content: flex-end;
   }
}

@media(max-width:500px) {
   .works__body {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }
}

/* _____________________________________-Portfolio___________________________________________________ */
.services__page {}

.services__container {
   display: flex;
   flex-direction: column;
}

.row {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 0px 10px 30px 10px;

}

.service {
   display: block;
   height: 300px;
   width: 31.7%;
   background: url(../source/portfolio/01.jpg) 50% 100% no-repeat #63646b;
   background-size: cover;
   text-align: center;
   color: #E5E5E5;
   transition: 0.25s;
   margin: 0px 10px 10px 10px;
}

.service:hover {
   transform: scale(1.05);
}

.name {
   margin-top: 90px;
   text-transform: uppercase;
   font-size: 25px;
}

.subname {
   margin-top: 8px;
}

.more {}

.button {
   border: 2px solid #d8d8d8;
   padding: 11px 22px 13px;
   border-radius: 25px;
   display: inline-block;
   margin-top: 30px;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.center__btn {
   display: flex;
   justify-content: center;
   margin: 10px 0px;
   font-size: 20px;
}

@media(max-width:897px) {
   .services__container {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
   }

   .service {
      height: 300px;
      width: 300px;
   }

   .row {
      display: flex;
      flex-direction: column;
   }
}

@media(max-width:662px) {
   .services__container {
      align-items: center;
      flex-direction: column;
   }

   .row {
      display: flex;
      flex-direction: column;
   }
}

/* ______________________________________plan-works___________________________________________________________ */
.subscribe {
   position: relative;
   padding: 30px 0px 44px 0px;
}

.subscribe::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 90%;
   background: url('../source/plan_works/Zeit-und-Selbstmanagement-Blog-218-Markus-Jotzo.jpeg') no-repeat;
   filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.plan-works__page {}

.plan-works__container {}

.plan-works__items {}

.plan-works__title {
   position: relative;
   margin: 80px 0px 0px 60px;
   color: #ffffff;
   line-height: 1.2em;
   font-size: 30px;
   font-weight: 700;
}

.plan-works__body {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   z-index: 2;
   padding: 40px 60px 32px 60px;
}

.plan-works__column {}

.plan-item__works {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   margin: 0px 0px 30px 0px;

}

.plan__image {}

.plan__text {
   color: #ffffff;
   padding: 0px 20px;
}

/* ________________________________________________brands_______________________________________________________ */
.brands__page {}

.brands__container {
   margin: 50px 0px 0px 0px;
}

.brands__body {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.brands__content {

   padding: 30px 60px 30px 80px;
   transform: translate(120%, 0px);
   opacity: 0;
   transition: all 0.8s ease 0s;
}

.brands__content._active {
   transform: translate(0px, 0px);
   transition: all 0.6s ease 0.2s;
   opacity: 1;
}

.brands__title {
   color: #29648A;
   line-height: 1.2em;
   font-size: 45px;
   font-weight: 700;
   padding: 20px 0px;
}

.brands__text {
   line-height: 1.6em;
   font-size: 20px;
}

.brands__image {
   margin: 0px 10px 0px 10px;
}

@media(max-width:1030px) {
   .brands__body {
      flex-wrap: wrap;
   }
}

@media(max-width:647px) {
   .brands__image img {
      max-width: 100%;
   }

   .plan-works__page {
      padding: 30px 0px 10px;
   }

   .brands__content {
      padding: 10px 30px 30px 30px;
   }
}

/* _____________________________________________________________Submit______________________________________________ */
.submit__page {
   margin: 30px 0px 0px 0px;
   position: relative;
   width: 100%;
   height: 600px;
   background: url('../source/cover/03.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.calc {
   margin: 0px 0px 0px 0px;
   height: 300px;
}

.submit__title {
   text-align: center;
   line-height: 1.2em;
   padding: 140px 0px 70px 0px;
   font-size: 60px;
   color: #fff;
   font-weight: 700;
}

.submit__buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 0px 10px 0px 10px;

}

.submit__button {
   color: #fff;
   background-color: rgba(0, 0, 0, 0.5);
   margin: 0px 30px 0px 0px;
}

@media(max-width:582px) {
   .submit__title {
      padding: 80px 0px 50px 0px;
      font-size: 40px;
   }

   .submit__buttons {
      flex-wrap: wrap;
   }

   .submit__button {
      margin: 0px 0px 20px 20px;
   }
}

@media(max-width:571px) {

   .submit__button {
      margin: 0px 0px 20px 20px;
   }
}

/* _____________________________________________Foooter________________________________________ */
.footer {}

.footer__top {
   background-color: #25274D;
}

.footer__main {}


.footer__row {}

.footer__column {}

.footer__label {
   text-align: center;
   padding: 39px 0px 42px 0px;
   font-weight: 700;
   font-size: 30px;
   line-height: 116%;
   text-transform: uppercase;
   color: #FFFFFF;
}

.footer__menu {}

.menu-footer {}

.menu-footer__list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.menu-footer__item {
   margin: 0px 20px 5px 20px;

}

.menu-footer__link {
   font-weight: 300;
   font-size: 20px;
   line-height: 115%;
   color: #FFFFFF;
}

.footer__bottom {
   background-color: #25274D;
}

.footer__container {}

.footer__social {}

.social {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.social__item {
   margin: 27px 22.5px 15px 22.5px;

}

/* _______________________________________animation_____________________________________________ */

/* ___________________________________company___________________________________________________ */

.page__company {
   padding: 50px 0px 0px 0px;

}

.company-submit__page {
   margin: 0px 0px 0px 0px;
   height: 300px;
}

.company-submit__title {
   color: #fff;
   font-size: 35px;
   line-height: 1em;
   text-align: left;
   background-color: #29648A;
   padding: 140px 0px 70px 40px;
}

.company__body {}

.company__items {}


/* ______________________________________________calculator.html__________________________________ */

.calc__container {
   min-height: 100vh;

}

.calc__content {
   background-color: #63646b;
}

.calc__title {
   padding: 20px 0px 0px 20px;
   font-weight: 600;
   font-size: 23px;
   text-transform: uppercase;
   margin-bottom: 35px;
}

.calc {
   height: 400px;
}

.calc__body {
   display: flex;
   flex-direction: column;

}

.calc__buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 0px 0px 20px 0px;
}

.calc__btn {
   border: 1px solid #29648A;
   border-radius: 3px;
   width: 130px;
   height: 77px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
}

.calc__list {
   display: none;
   background-color: #fff;
   padding: 60px;
}

@media(max-width:734px) {
   .calc__list {
      display: none;
      background-color: #fff;
      padding: 5px;
      width: 95%;
      margin: 20px 15px;
      border-radius: 5px;
   }
}

.calc_result__sum__list {}

.result__list {}

.calc_list__item {
   margin: 20px 0px 0px 0px;
   padding: 20px 90px 20px 60px;
   background-color: #29648A;
}

.calc_list__item_title {
   color: #FFFFFF;
   font-size: 25px;
   cursor: pointer;
}

.calc_list__item_title::before {
   content: '';
   display: block;
   position: absolute;
   left: 30px;
   bottom: 24px;
   width: 13px;
   height: 13px;

}

.price_calc__content_header_sum {
   display: none;
   font-size: 24px;
   font-weight: 700;
   padding-right: 90px;
   float: right;
}


.price_calc__content_bottom_sum {
   font-size: 24px;
   font-weight: 700;
   padding-right: 90px;
   display: flex;
   justify-content: flex-end;
   margin-top: 30px;
   line-height: 1.4;
}

.price_calc__table {
   display: none;
   flex-direction: column;
}

.price_calc__table {

   flex-direction: column;
}

.price_calc__table_row {
   height: 50px;
   align-items: center;
   justify-content: flex-end;
   border-bottom: 1px solid #ebebeb;
}

.price_calc__table_row_head {
   display: flex;
   flex-direction: row;
   height: 50px;
}

.price_calc__table_cell {
   text-align: center;
}

.price_calc__table_row_head .price_calc__table_cell {
   color: #E5E5E5 !important;
   font-size: 13px !important;
   font-weight: 400 !important;
}

.price_calc__table_cell:nth-child(1) {
   width: 40%;
   font-size: 16px;
   font-weight: 700;
   text-align: left;
   padding-right: 5px;

}

.price_calc__table_cell:nth-child(2) {
   color: #a0a0a0;
   width: 15%;
}

.price_calc__table_cell:nth-child(3) {
   font-weight: 700;
   width: 15%;
}

.price_calc__table_cell:nth-child(4) {
   font-weight: 700;
   width: 15%;
}

.price_calc__table_cell:nth-child(5) {
   font-weight: 700;
   width: 15%;

}

@media(max-width:696px) {
   .price_calc__table_row_head .price_calc__table_cell {}

   .price_calc__table_cell:nth-child(1) {
      width: 40%;
      font-size: 13px;
      font-weight: 400;
      text-align: left;
      padding-right: 0px;

   }

   .price_calc__table_cell:nth-child(3) {
      font-weight: 400;
      font-size: 11px;
      width: 15%;
   }

   .price_calc__table_cell_input {
      width: 45px;
      height: 25px;
      border: 1px solid #ebebeb;
   }

}

.price_calc__table_row_body {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.price_calc__table_cell_input {
   width: 70px;
   height: 25px;
   border: 1px solid #ebebeb;
}

.price_calc__table_sum {
   height: 65px;
   display: flex;
   align-items: center;
   font-size: 18px;
   justify-content: flex-end;
   line-height: 1.4;
   font-weight: 700px;
   padding-right: 30px;
}

.cont_active {
   display: block;
   animation: ani 2.5s ease;
}

@keyframes ani {
   0% {
      opacity: 0.4;
   }

   100% {
      opacity: 1;
   }
}

@media(max-width:696px) {
   .price_calc__table_row_head .price_calc__table_cell {}

   .price_calc__table_cell:nth-child(1) {
      width: 40%;
      font-size: 13px;
      font-weight: 400;
      text-align: left;
      padding-right: 0px;

   }

   .price_calc__table_cell:nth-child(3) {
      font-weight: 400;
      font-size: 11px;
      width: 15%;
   }

   .price_calc__table_cell_input {
      width: 35px;
      height: 25px;
      border: 1px solid #ebebeb;
   }

   .calc_list__item {
      margin: 20px 0px 0px 0px;
      padding: 20px 5px 20px 5px;
      background-color: #29648A;
   }
}

@media(max-width:400px) {
   .price_calc__table_row_head .price_calc__table_cell {
      font-size: 11px !important;
   }

   .price_calc__table_cell:nth-child(1) {
      width: 40%;
      font-size: 11px;
      font-weight: 400;
      text-align: left;
      padding-right: 0px;

   }


}

.mobile {}

.calc__content {}

.calc__title_mobile {
   text-align: center;
   padding: 20px 0px 30px 0px;
   font-weight: 600;
   font-size: 23px;
   text-transform: uppercase;
   margin-bottom: 35px;
   color: #fff;
}

.calc__body_mobile {
   display: flex;
   flex-direction: column;
}

.calc__buttons_mobile {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0px 10px 20px 10px;

}

.calc__btn_mobile {
   margin: 20px 10px 0px 10px;
   width: 100%;
   height: 50px;
   justify-content: space-between;
   padding: 10px 15px;
   border: 1px solid #a0a0a0;
   border-radius: 3px;
   cursor: pointer;
   color: #fff;
   background-color: #29648A;
}




@media(max-width:734px) {
   .descktop {
      display: none;
   }
}

@media(min-width:734px) {
   .mobile {
      display: none;
   }
}